<%= form_with model: @category, url: category_save_path do |form| %>
  <div class="field uk-margin-bottom">
    <%= form.label :name, 'Name' %>
    <%= form.text_field :name, class: 'uk-input' %>
  </div>
  <div class="field uk-margin-bottom">
    <%= form.label :url, 'URL Key' %>
    <%= form.text_field :url, class: 'uk-input' %>
  </div>
  <div class="field uk-margin-bottom">
    <%= form.label :description, 'Description' %>
    <%= form.text_area :description, class: 'uk-textarea' %>
  </div>
  <%= form.submit "Save Category", class: 'uk-button' %>
<% end %>