<nav class="uk-light uk-height-1-1">
  <ul class="uk-list uk-text-center uk-text-uppercase uk-text-small uk-margin-top">
    <li>
      <a class="uk-padding-small uk-display-block" href="<%= admin_path %>">
      <span class="uk-icon uk-display-block uk-margin-small-bottom" uk-icon="icon: home; ratio: 1.5"></span>
      <span>Home</span>
      </a>
    </li>
    <li>
      <a class="uk-padding-small uk-display-block" href="<%= products_path %>">
        <span class="uk-icon uk-display-block uk-margin-small-bottom" uk-icon="icon: plus; ratio: 1.5"></span>
        <span>Products</span>
      </a>
    </li>
    <li>
      <a class="uk-padding-small uk-display-block" href="<%= categories_path %>">
        <span class="uk-icon uk-display-block uk-margin-small-bottom" uk-icon="icon: tag; ratio: 1.5"></span>
        <span>Categories</span>
      </a>
    </li>
    <li>
      <a class="uk-padding-small uk-display-block" href="<%= order_path %>">
        <span class="uk-icon uk-display-block uk-margin-small-bottom" uk-icon="icon: cart; ratio: 1.5"></span>
        <span>Orders</span>
      </a>
    </li>
    <li>
      <a class="uk-padding-small uk-display-block" href="<%= customer_path %>">
        <span class="uk-icon uk-display-block uk-margin-small-bottom" uk-icon="icon: users; ratio: 1.5"></span>
        <span>Customers</span>
      </a>
    </li>
  </ul>
</nav>

