<h1>Orders</h1>
<table class="uk-table uk-table-responsive uk-table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Customer</th>
      <th>Value</th>
      <th>Status</th>
      <th>PayPal ID</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.customer.id %></td>
        <td><%= order.cost %></td>
        <td><%= order.paypal_status %></td>
        <td><%= order.paypal_id %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>