<h1>Products</h1>
<%= render 'buttons' %>
<table class="uk-table uk-table-striped uk-table-responsive">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>SKU</th>
      <th>Price</th>
      <th>Stock Qty</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.id %></td>
        <td><%= product.name %></td>
        <td><%= product.sku %></td>
        <td><%= product.price %></td>
        <td><%= product.stock_qty %></td>
        <td style="max-width: 100px">
          <%= link_to 'Edit', product_edit_path(product) %>
          <%= link_to 'Delete', product_delete_path(product), class: 'uk-align-right' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>