<div class="product-view-container uk-flex">
  <div class="column media uk-width-1-2 uk-padding-small">
    <%
      # TODO probably best to transform the path before saving the image model
      image = @product.images.first
      path = image.path
      path['app/assets/images/'] = ''
    %>
    <%= image_tag(path) %>
  </div>
  <div class="column content uk-width-1-2 uk-padding-small">
    <div class="title">
      <h1><%= @product.name.capitalize %></h1>
    </div>
    <div class="detail uk-padding uk-padding-remove-top uk-padding-remove-left uk-padding-remove-right">
      <div class="prices">
        <p class="price uk-text-large">£<%= @product.price %></p>
      </div>
      <div class="description">
        <%= @product.description %>
      </div>
    </div>
    <%= render 'product/add_to_cart' %>
  </div>
</div>