<h1>Log in to your account</h1>
<p>Haven't got an account? <%= link_to "Register Here", customer_register_path %></p>
<%= form_with url: customer_signin_path do |form| %>
  <div class="field">
    <%= form.label :email, "Email" %>
    <%= form.text_field :email, class: 'uk-input' %>
  </div>
  <div class="field">
    <%= form.label :password, "Password" %>
    <%= form.password_field :password, class: 'uk-input' %>
  </div>
  <%= form.submit "Log in" %>
<% end %>