<!DOCTYPE html>
<html>
  <head>
    <title>RailCart</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'uikit.min' %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="uk-container">
        <%= render 'partials/nav' %>
    </header>
    <main class="uk-container">
      <%= render 'partials/flash' %>
      <%= yield %>
    </main>
    <%= render 'partials/debugging' %>
  </body>
</html>
