<!DOCTYPE html>
<html>
  <head>
    <title>RailCart</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'uikit.min' %>
    <%= javascript_importmap_tags %>

    <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.10/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.10/dist/js/uikit-icons.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <style>
      body, html {
          font-family: 'Roboto Condensed';
      }
      #pre-header a {
          color: #fff!important;
      }
    </style>
  </head>

  <body>
    <div id="pre-header" class="uk-background-primary">
      <div class="uk-container uk-padding-small uk-text-right">
        <%= render 'partials/log_in_out' %>
      </div>
    </div>
    <header class="uk-container uk-flex uk-flex-wrap">
      <div class="uk-width-5-6">
        <%= render 'partials/nav' %>
      </div>
      <div class="uk-width-1-6">
        <%= render 'cart/mini' %>
      </div>
    </header>
    <main class="uk-container">
      <%= render 'partials/flash' %>
      <%= yield %>
      <%= render 'partials/debugging' %>
    </main>
    <footer class="uk-background-muted uk-padding-small uk-margin-top">
      <%= render 'partials/footer' %>
    </footer>
  </body>
</html>
